@font-face {
    font-family: Avenir;
    src: url('./web/AvenirLTStd-Medium.otf');
}

h1 {
    font-size: 40px;
    color:blueviolet;
    font-family: Avenir;
}

p {
    font-size: 25px;
    font-family: Avenir;
    color: aquamarine;
}

body {
    background-color: bisque;
    font-family: Avenir;
}

button.stupid {
    font-family: Avenir;
    background-color: aqua;
    height: 50px;
    width: 100px;
}

img {
    height:400px;
}

body {
    background-color:#353535;
}